<key>CFBundleIcons</key>
<dict>
	<key>CFBundleAlternateIcons</key>
	<dict>
		<key>YouTubeAppIconDefault</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>YouTubeAppIconDefault</string>
			</array>
		</dict>
		<key>YouTubeAppIconDark</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>YouTubeAppIconDark</string>
			</array>
		</dict>
		<key>YouTubeAppIconuYou</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>YouTubeAppIconuYou</string>
			</array>
		</dict>
	</dict>
	<key>CFBundlePrimaryIcon</key>
	<dict>
		<key>CFBundleIconFiles</key>
		<array>
			<string></string>
		</array>
		<key>UIPrerenderedIcon</key>
		<false/>
	</dict>
	<key>UINewsstandIcon</key>
	<dict>
		<key>CFBundleIconFiles</key>
		<array>
			<string></string>
		</array>
		<key>UINewsstandBindingEdge</key>
		<string>UINewsstandBindingEdgeLeft</string>
		<key>UINewsstandBindingType</key>
		<string>UINewsstandBindingTypeMagazine</string>
	</dict>
</dict>
